h1 {
  margin-top: 10px;
}

.index-back {
  margin: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: center;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
