h1 {
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

.index-back {
  margin: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: center;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(30%);
}

a:hover {
  text-decoration: none;
}

.index-new {
  position: absolute;
  object-fit: cover;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
  filter: brightness(60%);
}

.show-cocktail {
  position: absolute;
  object-fit: cover;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-repeat: no-repeat;
}
